<% layout("../layout/boilerplate") %>
    <div>
            <% for (const  user of alluser) { %>
                <a href="/main/<%=user._id %>">    
                    <img src="<%=user.profilePicture  %>" alt="profile image" style="height: 20rem"> 
                    <p> Name: <%= user.username%></p>                
                    <p> country :<%= user.location %> </p>
                </a>
                    <br><br>
                <% } %>
            </div>

